{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $terminal := promptStringOnce . "terminal" "Terminal Application" -}}
{{- $browser := promptStringOnce . "browser" "Web Browser Application" -}}
{{- $editor := promptStringOnce . "editor" "Text Editor Application" -}}
{{- $dpi := promptIntOnce . "dpi" "Dots Per Inch" -}}

# terminal: kitty
# browser: flatpak run org.mozilla.firefox
# editor: emacsclient --create-frame -a emacs
# dpi: 150 on desktop, ? on laptop

[data]
    email = {{ $email | quote }}
    terminal = {{ $terminal | quote }}
    browser = {{ $browser | quote }}
    editor = {{ $editor | quote }}
    dpi = {{ $dpi | quote }}
