services:
  postgres:
    image: postgres:18-alpine
    container_name: postgres
    environment:
      - PUID=568
      - PGID=568
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - /mnt/pithos/containers/container-data/postgres:/var/lib/postgresql
    ports:
      - 5432:5432
networks:
  apps: {}
