{:paths ["src"]
 :deps
 ;; if you update anything deps here, also make sure to change ~/.lein/profiles.clj
 {djblue/portal                  {:mvn/version "0.63.1"}
  io.github.paintparty/fireworks {:mvn/version "0.20.0"}
  io.github.tonsky/clojure-plus  {:mvn/version "1.7.2"}
  org.clojars.abhinav/snitch     {:mvn/version "0.1.16"
                                  :exclusions  [org.clojure/clojurescript]}
  org.clojure/tools.namespace    {:mvn/version "1.5.0"}

  com.clojure-goes-fast/clj-async-profiler  {:mvn/version "1.7.0"}
  com.clojure-goes-fast/clj-memory-meter    {:mvn/version "0.4.0"}
  com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.7"}
  criterium/criterium                       {:mvn/version "0.4.6"}
  vvvvalvalval/scope-capture                {:mvn/version "0.3.3"}}}
