services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    ports:
      - 9696:9696
    environment:
      - PUID=568
      - PGID=568
      - TZ=America/New_York
    volumes:
      - /mnt/pithos/containers/container-data/prowlarr:/config
    restart: unless-stopped
    networks:
      - apps

networks:
  apps:
    external: true
