# env vars
export XDG_CONFIG_HOME="$HOME/.config"
export EDITOR="{{ .editor }}"

# aliases
alias dtt="distrobox enter devtools"
alias pcu="podman-compose up -d"
alias pcd="podman-compose down"

# PATH updates
export PATH=$PATH:$HOME/.local/bin
