# env vars
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_SESSION_TYPE=wayland
export EDITOR="{{ .editor }}"
export EMACS_FONT_SIZE="{{ .emacs_font_size }}"

# aliases
alias dtt="distrobox enter devtools"
alias pcu="podman-compose up -d"
alias pcd="podman-compose down"
alias alert="notify-send"
alias kk="notify-send done"

# PATH updates
export PATH=$PATH:$HOME/.local/bin

# pnpm
export PNPM_HOME="$HOME/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
