# env vars
export XDG_CONFIG_HOME="$HOME/.config"
export EDITOR="{{ .editor }}"

# aliases
alias dtt="distrobox enter devtools"
alias pcu="podman-compose up -d"
alias pcd="podman-compose down"

# PATH updates
export PATH=$PATH:$HOME/.local/bin

# pnpm
export PNPM_HOME="$HOME/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
